---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import Content2 from '~/components/widgets/Content2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import MyProductList from '~/components/widgets/MyProductList.astro';
import GSImageGrid from '~/components/widgets/GS-ImageGrid.astro';

const metadata = {
  // title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'ติดต่อสอบถาม/ใบเสนอราคา',
        href: 'https://line.me/ti/p/~@grainsure#~',
        target: '_blank',
        icon: 'tabler:message-circle-2-filled',
        class: 'btn w-full bg-[#06C755] hover:bg-[#05b34c] text-white border-none'
      }
    ]}
    image={{ src: '~/assets/images/gs-bg1.png', alt: 'ผลิตภัณฑ์เครื่องวัดความชื้น Grainsure' }}
    mobileImage={{ src: '~/assets/images/gs-bg2.png', alt: 'ผลิตภัณฑ์เครื่องวัดความชื้น Grainsure' }}
  >
    <Fragment slot="title">
      เครื่องวัดความชื้น<br><span class="hidden xl:inline"></span>
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-400 via-teal-200 to-blue-400 font-bold">
        เมล็ดพืชและเม็ดวัสดุ
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      <!-- <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 5.0
        + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span> -->
      <span class="block mb-1  font-bold text-white-800">ผลวัดแม่นยำ ใช้งานทนทาน ดูแลยาวนาน<br>ผ่านรับรองมาตรฐาน ขายราคาคนไทย</span>
      วิจัยพัฒนาและผลิตจำหน่าย ด้วยประสบการณ์ยาวนานกว่า 40 ปี 
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note title="Philosophy:" description="Simplicity, Best Practices and High Performance" /> -->

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="ทำไมต้องเลือก <br /> <span class='bg-clip-text md:text-5xl text-transparent bg-gradient-to-r from-emerald-600 to-blue-600 font-extrabold leading-normal py-2 md:py-6 inline-block mt-0 '>เครื่องวัดความชื้นของเรา?</span>"
subtitle='<span class="font-bold text-gray-900 dark:text-white text-lg">4 ทศวรรษแห่งความแม่นยำ เคียงข้างเกษตรกรไทย</span><br />จากงานวิจัยสู่เครื่องวัดความชื้นอันดับต้นๆ ที่บริษัทชั้นนำไว้วางใจมานานกว่า 40 ปี มาตรฐานที่คนไทยสร้าง เพื่อความมั่งคั่งของผลิตผลไทยอย่างยั่งยืน'    items={[
      {
        title: 'เที่ยงตรง แม่นยำ ใช้งานง่าย',
        description:
          'ทุกเครื่องผ่านการสอบเที่ยบตามมาตรฐาน เพื่อความแม่นยำสูงสุดในการวัดความชื้นเมล็ดพืชและวัสดุชนิดเม็ดตามที่ลูกค้ากำหนด ใช้งานง่ายเพียงไม่กี่ขั้นตอน พร้อมวัดผลได้ทันที',
        icon: 'tabler:target-arrow',
      },
      {
        title: 'ทนทาน ทุกสภาพการใช้งาน',
        description:
          'ตัวเครื่องทำจากเหล็ก ทนแรงกระแทก ทนทานต่อสภาพแวดล้อมการใช้งานที่หลากหลาย ทั้งในโรงงาน คลังสินค้า และภาคสนาม รองรับการใช้งานหนักได้อย่างมั่นใจ',
        icon: 'tabler:hammer',
      },
      {
        title: 'ซื้อครั้งเดียว ดูแลยาวๆ',
        description:
          'บริการหลังการขายโดยทีมงานมืออาชีพ พร้อมให้คำปรึกษาและดูแลเครื่องวัดความชื้นของคุณอย่างต่อเนื่อง เพื่อให้มั่นใจว่าเครื่องของคุณจะทำงานได้อย่างเต็มประสิทธิภาพตลอดเวลา',
        icon: 'tabler:shield-heart',
      },
      {
        title: 'ราคาย่อมเยา คุ้มค่า จับต้องได้',
        description:
          'รับผลิตเครื่องวัดความชื้น ชนิดเมล็ด ตามความต้องการเฉพาะของลูกค้าแต่ละราย ไม่มีจำนวนขั้นต่ำในการสั่งซื้อ พร้อมบริการให้คำปรึกษาเพื่อเลือกเครื่องที่เหมาะสมกับการใช้งานของคุณ',
        icon: 'tabler:file-dollar',
      },
      {
        title: 'ผ่านการรับรองมาตรฐานตามกฎหมาย',
        description:
          "เครื่องวัดความชื้นข้าวโพด และข้าวเปลือก ผ่านการรับรองจากสำนักงานกลางชั่งตวงวัด กรมการค้าภายใน กระทรวงพาณิชย์ สามรถนำไปใช้ในเชิงพาณิชย์ได้อย่างถูกต้องตามกฎหมาย (โปรดสอบถามรุ่นที่มีการรับรอง)",
        icon: 'tabler:certificate',
      },
      {
        title: 'เชี่ยวชาญด้านการวัดความชื้นเมล็ด',
        description:
          'ประสบการณ์กว่า 40 ปี ในการวิจัยและพัฒนาเครื่องวัดความชื้นเมล็ดพืชและวัสดุชนิดเม็ด เพื่อตอบโจทย์ความต้องการของลูกค้าอย่างแท้จริง เป็นผู้ผลิตและจำหน่ายเครื่องวัดความชื้นเมล็ดโดยตรง',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget Compare product -->
<MyProductList />
  <!-- Steps Widget ****************** -->

  <Steps
    title='โปรแกรม <span class="text-transparent bg-clip-text bg-gradient-to-r from-green-600 to-blue-600 font-extrabold pt-4">คำนวณความชื้น</span><br />รู้ต้นทุน <span class="text-orange-500 font-bold">เห็นกำไร</span> ทันที!'
    items={[
      {
        title: '',
        description:
          "ฟรี โปรแกรมสำหรับเกษตรกรและผู้ประกอบการคำนวณหากำไรจากการลดความชื้น คำนวณหาปริมาณน้ำที่ประกอบอยู่ในเมล็ด เพื่อวางแผนการจัดการเมล็ดก่อนนำไปขายหรือจัดเก็บ สามารถคำนวณหาความชื้นหลังจากลดความชื้นแล้ว อีกทั้งช่วยในการประเมินต้นทุนและความคุ้มค่าในการดำเนินการ ซึ่งต้องเตรียมข้อมูลดังนี้",
        icon: 'tabler:package',
      },
      {
        title: '1 : <span class="font-medium">ปริมาณของเมล็ดเริ่มต้น</span>',
        description:
          "ชั่งน้ำหนักเมล็ดที่เราจะทำการปรับความชื้น ใช้หน่วยน้ำหนักอะไรก็ได้เช่น กิโลกรัม, ตัน, ปอนด์ เป็นต้น ผลการคำนวณที่ได้มาจะขึ้นอยู่กับหน่วยน้ำหนักที่เราใช้",
        icon: 'tabler:letter-case',
      },
      {
        title: '2 : <span class="font-medium">ค่าความชื้นเริ่มต้น</span>',
        description:
          'ค่าความชื้นของเมล็ดเริ่มต้นที่วัดมาได้ ต้องเป็นความชื้นที่ถถูกต้อง วิธีที่สะดวกที่สุดคือการใช้เครื่องวัดความชื้นเมล็ดที่ได้มาตรฐาน ถ้าค่าที่วัดได้ถูกต้องการคำนวณก็จะถูกต้องตามไปด้วย',
        icon: 'tabler:letter-case',
      },
      {
        title: '3 : <span class="font-medium">ค่าความชื้นที่ต้องการ</span>',
        description:
          'ค่าความชื้นของเมล็ดที่เราต้องการหลังจากการลดความชื้นแล้ว',
        icon: 'tabler:letter-case',
      },
      {
        title: '4 : <span class="font-medium">ต้นทุนดำเนินการ(ทางเลือก)</span>',
        description:
          'ต้นทุนที่ใช้ในการลดความชื้นเมล็ดต่อหน่วยน้ำหนัก ราคาขายสด ราคาขายที่ความชื้นเป้าหมาย เช่น ค่าไฟฟ้า ค่าจ้างแรงงาน เป็นต้น ถ้าไม่ต้องการคำนวณกำไรก็ไม่ต้องกรอกข้อมูลนี้',
        icon: 'tabler:letter-case',
      },
{
        // ใส่ <a href="..."> ครอบข้อความไว้
        title: '<a href="/GScalculator" class="text-green-700 hover:underline cursor-pointer transition">Ready! ถ้าพร้อมไปเลย (คลิก)</a>', 
        icon: 'tabler:check',
        description: 'เปิดโปรแกรมคำนวณความชื้นเมล็ดทันที', // ใส่คำอธิบายเพิ่มหน่อยก็ดีครับ
      },    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />
<GSImageGrid/>


  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'ประสบการณ์และการวิจัย', amount: '>40 <span class="text-xl lg:text-3xl text-gray-500 font-medium">ปี</span>'},      
      { title: 'ขายมาแล้ว', amount: '>40 <span class="text-xl lg:text-3xl text-gray-500 font-medium">ปี</span>'},      
      { title: 'ยอดขายสะสม', amount: '>8000 '},      
    ]}
  />
</Layout>
