---
import heroImage from '~/assets/images/EEKU-02L.jpg';
import heroMobile from '~/assets/images/EEKU-02H.jpg';
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero3.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import contentImage from '~/assets/images/EEKU-04.jpg';

const metadata = {
  title: 'EE-KU เครื่องวัดความชื้นเมล็ดพืชและเม็ดวัสดุ - Grainsure',
  description: 'รายละเอียดเครื่องวัดความชื้นเมล็ดพืชและเม็ดวัสดุ รุ่นEE-KU ทนทาน ใช้งานง่าย เหมาะสำหรับเกษตรกร โรงงานอุตสาหกรรม',
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="ใช้ง่าย ราคาประหยัด"
    title="EE-KU"
    subtitle="<strong>เครื่องวัดความชื้นเมล็ดพืชและเม็ดวัสดุ</strong> แม่นยำ ทนทาน ใช้งานง่าย<br>ประมวลผลระบบอนาล๊อก รองรับการวัดเมล็ดพืชและวัสดุหลากหลายชนิด ผลิตตามความต้องการของลูกค้า ใช้ได้ทั้งในห้องปฏิบัติการและภาคสนาม"
    actions={[
      {
        variant: 'primary',
        text: 'สั่งซื้อ / สอบถามราคา',
        href: 'https://line.me/ti/p/~@grainsure',
        icon: 'tabler:message-circle',
        target: '_blank',
        class: 'bg-green-600 hover:bg-green-700 border-green-600 text-white dark:bg-green-700 dark:hover:bg-green-800',
      },
      {
        text: 'ดู่วิดีโอสาธิต',
        href: '#video-demo',
        icon: 'tabler:player-play',
        class: 'bg-red-600 hover:bg-red-700 border-red-600 text-white dark:bg-red-700 dark:hover:bg-red-800',
      },
    ]}
    image={{
      src: heroImage, 
      alt: 'เครื่องวัดความชื้นเมล็ดพืชและเม็ดวัสดุ EE-KU',
    }}
    mobileImage={{
      src: heroMobile,
      alt: 'เครื่องวัดความชื้นเมล็ดพืชและเม็ดวัสดุ EE-KU',
    }}
    bgOverlayClass="bg-gradient-to-tr from-black/60 via-black/10 to-transparent"
    titleClass="drop-shadow-[0_5px_10px_rgba(100,100,100,0.9)]"
    subtitleClass="text-xs md:text-xl"
  />

  <Content
    isReversed
    title="ทำไมต้อง EE-KU?"
    items={[
      {
        title: 'เที่ยงตรง ได้มาตราฐาน',
        description: 'ผ่านการสอบเทียบเครื่องต่อเครื่อง โดยอ้างอิงจากผลการศึกษาตัวอย่างของเมล็ดพืชตามมาตรฐานการวัดความชื้น',
        icon: 'tabler:target-arrow',
      },
      {
        title: 'รองรับวัดความชื้นเมล็ดได้หลากหลาย',
        description: '<strong>รุ่นมาตรฐาน </strong>ให้เลือกวัดได้ ข้าวโพด หรือ เมล็ดกาแฟสาร<br><strong>รุ่นผลิตเฉพาะลูกค้า หรือเมล็ดพืชชนิดอื่นๆ</strong> จะวัดโดยการนำค่าที่ได้จากเครื่อง ไปเทียบกับตารางความชื้นที่จัดทำขึ้นสำหรับเมล็ดพืชชนิดนั้นๆ',
        icon: 'tabler:target-arrow',
      },
      {
        title: 'รับผลิตตามความต้องการ',
        description: 'ผลิตตามความต้องการของลูกค้าได้ ไม่มีจำนวนขั้นต่ำ พร้อมให้คำแนะนำในการเลือกชนิดเมล็ดที่เหมาะสมกับการใช้งาน',
        icon: 'tabler:target-arrow',
      },
      {
        title: 'ใช้งานง่าย วัดค่าได้รวดเร็ว',
        description: 'เครื่องออกแบบมาให้ใช้งานง่าย เพียงตวงตัวอย่างเต็มถ้วยตวง เทตัวอย่างลงในช่องวัดช้าๆ รอไม่เกิน 10 วินาที ก็ทราบค่าความชื้นได้ทันที',
        icon: 'tabler:thermometer',
      },
      {
        title: 'ทนทานงานหนัก',
        description: 'ตัวเครื่องทำจากโลหะ แข็งแรง ทนการกระแทก ใช้งานดีทั้งภาคสนามและในห้องปฏิบัติการ',
        icon: 'tabler:shield',
      },
      {
        title: 'ราคาประหยัด คุ้มค่า',
        description: 'ราคาเครื่องวัดความชื้นที่ได้รับการยอมรับ และราคาถูกที่สุดในประเทศไทย',
        icon: 'tabler:settings-automation',
      },
    ]}
    /* ย้าย Image มาอยู่ใน Property image ให้ถูกต้องตามโครงสร้าง AstroWind */
    image={{
      src: contentImage,
      alt: 'การใช้งาน เครื่องวัดความชื้น EE-KU',
      width: 800,
      height: 800,
      format: 'webp',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        เครื่องวัดความชื้นเมล็ดพืชและเม็ดวัสดุ วัดเที่ยงตรง ได้มาตรฐาน
      </h3>
      <p>
        EE-KU ถูกออกแบบเพื่อรองรับการวัดความชื้นในวัสดุที่เป็นเม็ดทุกชนิด สามารถปรับเทียบให้วัดความชื้น ข้าวโพด เมล็ดกาแฟสารได้โดยตรง และวัดเม็ดวัสดุหรือเมล็ดพืชชนิดอื่นๆ หรือเมล็ดเฉพาะของลูกค้าได้ โดยใช้ตารางเทียบค่าความชื้นกับตัวเลขที่อ่านได้จากเครื่องวัด
        <br>ด้วยเทคโนโลยีที่วิจัยและพัฒนาโดยคนไทยเพื่อคนไทยได้มีเครื่องมือที่ดี เพื่อยกระดับผลผลิตให้มีคุณภาพสูง ด้วยเครื่องมือที่น่าเชื่อถือ ราคาไม่แพง และมั่นใจด้วยบริการหลังการขายที่ดูแลกันยาวๆไม่ทอดทิ้งกัน
      </p>
    </Fragment>
  </Content>

  </Layout>